@import './variables.module';

#calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 59px 20px 0;
  align-self: center;
}

.calcbox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 320px;
  height: 230px;
  margin: 10px 0;
  background-color: $gray_bg;
  border-radius: 15px;

  h4 {
    width: 280px;
  }

  input {
    text-align: center;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: $black;
    width: 225px;
    height: 70px;
    border-radius: 15px;
    border: 1px solid $black;
  }

  input::-webkit-input-placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: $gray;
  }
}

.saving {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 213px;
  width: 320px;
  margin: 10px 0;
  border-radius: 15px;
  background-color: $black;

  h4 {
    margin: 15px 0 18px;
    color: white;
  }

  h2 {
    font-size: 28px;
    margin: 15px 0 0;
    color: white;
    opacity: 0.5;
  }
}

#active {
  color: $orange;
  opacity: 1;
}

@media screen and (min-width: 1024px) {
  #calculator {
    width: 1024px;
  }
  #calcboxes {
    display: flex;
    flex-direction: row;
  }
  .calcbox {
    width: 491px;
    margin: 58px 15px 30px;
    h4 {
      width: 360px;
    }
    input {
      font-size: 20px;
    }
    input::-webkit-input-placeholder {
      font-size: 20px;
    }
  }

  .saving {
    flex-direction: row;
    align-items: center;
    width: 1012px;
    height: 127px;

    h2 {
      margin: 0 17px 0 24px;
    }
  }
}
