#header {
  display: flex;
  flex-direction: column;
  width: 100%;

  #navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    background-color: white;
    overflow: hidden;
    width: 90%;
    align-items: center;
    margin: 0 20px;
    padding-top: 59px;

    div {
      flex-basis: 30%;
    }
  }

  #menus {
    display: flex;
    flex-basis: 20%;
    align-items: center;
    justify-content: space-between;
  }
}
